// Interactive-specific css here

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

svg {
  background-color: $qz-map-water;
}

.borders path {
  stroke: $qz-map-land-stroke;
  stroke-width: 1px;
  fill: $qz-map-land-fill;

  &#SOM {
    fill: $qz-gray-2;
  }
}

.attacks path {
  stroke: $qz-background-gray;
  stroke-width: 1px;
  stroke-opacity: 50%;
  fill: $qz-map-highlight;
  opacity: 0.5;
  width: 50%;
}

.labels text {
  fill: $qz-gray-3;
  font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size:
}

text.year {
  fill: $qz-gray-2;
  font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 750%;
  opacity: 0.5;
}

path.arrow {
  stroke-width: 1px;
  stroke: $qz-body-black;
  fill: none;
}

.somalia {
  text {
    fill: $qz-body-black;
    font-family: 'AdelleSans-Bold', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

.controls {
  polygon {
    fill: $qz-gray-3;
  }

  text {
    fill: $qz-gray-3;
    font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 300%;
  }
}

rect.play {
  fill: rgba(200,200,200,0.3);
  stroke-width: 2px;
  stroke: $qz-gray-2;

  &:hover {
    cursor: pointer;
  }
}

#footer {
  fill: $qz-gray-2;
  font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif;
  font-size: 80%;
}

@media screen and (max-width: 600px) {
  .attacks path {
    stroke-width: 0;
  }

  rect.play {
    stroke-width: 1px;
  }

  #footer {
    font-size: 60%;
  }
}
