// Interactive-specific css here

svg {
  background-color: $qz-map-water;
}

path.borders {
  stroke: $qz-map-land-stroke;
  stroke-width: 1px;
  fill: $qz-map-land-fill;
}

.attacks path {
  stroke: black;
  stroke-width: 1px;
  stroke-opacity: 50%;
  fill: red;
  opacity: 0.5;
  width: 50%;
}

.labels text {
    fill: #787878;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.labels.shadow text {
    fill: #fff;
    stroke: #fff;
    stroke-width: 2px;
    opacity: .7;
}
