// Interactive-specific css here

svg {
  background-color: lightblue;
}

path.borders {
  stroke: gray;
  stroke-width: 1px;
  fill: lightgray;
}

.attacks path {
  stroke: black;
  stroke-width: 1px;
  stroke-opacity: 50%;
  fill: red;
  opacity: 0.5;
  width: 50%;
}
